<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Capstone: Travel App</title>
  <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
</head>

<body>
  <div id="app" class="container">
    <div class="container">
      <div class="row">
        <h1 id="header">Capstone: Travel App</h1>
      </div>
    </div>
    <hr>
    <div class="jumbotron">
      <h2 class="display-4" id="greeting"></h2>
      <p class="lead">Enter your destination and the dates of your trip, then get weather forecast, language, currency,
        time zone, and much more information about your destination. Try it by your self! </p>
      <hr class="my-4">
      <p id="more">More about me</p>
      <a class="btn btn-primary btn-md" href="https://www.linkedin.com/in/%C4%91%E1%BA%ADm-nguy%E1%BB%85n-508345202/"
        role="button" target="blank">Linkedin</a>
      <a class="btn btn-primary btn-md" href="https://www.facebook.com/jchjgo.nhd" role="button"
        target="-blank">Facebook</a>
    </div>

    <form>
      <div class="form-group">
        <div class="form-row">
          <div class="col-12">
            <label for="destination">Destination: </label>
            <input class="form-control" type="text" id="destination" placeholder="Enter your destination here">
          </div>
        </div>
        <div class="form-row">
          <div class="col">
            <label for="startDate">Start Date: </label>
            <input class="form-control" type="date" id="startDate" placeholder="enter start date here">
          </div>

          <div class="col">
            <label for="endDate">End Date: </label>
            <input class="form-control" type="date" id="endDate" placeholder="enter end date here">
          </div>
        </div>
        <br>
        <div class="form-row">
          <div class="col-12">
            <button id="create" type="button" class="btn btn-primary"> Create trip </button>
            <button id="remove" type="button" class="btn btn-danger"> Remove trip </button>
            <button id="print" type="button" class="btn btn-dark"> Print </button>
          </div>

        </div>
      </div>
    </form>

    <div class="container" id="result">
      <div class="row">
        <div class="col-12">
          <div id="spinner"></div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div id="countryInfo"></div>
          <br>
          <div id="duration"></div>
          <br>
          <div id="temp"></div>
        </div>
        <div class="col">
          <div id="content"></div>
        </div>
      </div>
    </div>
    <hr>
    <p id="footer">Udacity ® 2024 </p>
  </div>

  <script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
      // Use the window load event to keep the page load performant
      window.addEventListener('load', () => {
        // navigator.serviceWorker.register('/service-worker.js');
        // navigator.serviceWorker.register('dist/service-worker.js');
      });
    }
  </script>
</body>

</html>